@import "tailwindcss";

.bracket-link::before {
  content: "[";
  color: #cbd5e1; /* slate-300 */
  font-weight: normal;
}

.bracket-link::after {
  content: "]";
  color: #cbd5e1; /* slate-300 */
  font-weight: normal;
}

/* TipTap editor focus line handling */
.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
}